#  why using the @question instead of Question.new?
#  Specific Situation
#  When failed to create a new question
#  It will hit the line in the question contoller 
#  render :new
#  It doesn't hit the questions#new again, 
#  instead, it will just render the view>questions>new
#  by @question, it will carry all the infos 
#  that user tried to create but failed

<% if @question.errors.any? %>
    <ul>
        <% @question.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
        <% end %>
    </ul>

<%end%>


<%= form_for @question do |f|%>

<div>
<%= f.label :title %>
<%= f.text_field :title %>
</div>
<div>
<%= f.label :body %>
<%= f.text_field :body %>
</div>
<div class="form-group">
  <%= f.label :tag_names %>
  <%= f.text_field :tag_names, input_html: { spellcheck: true } %>
</div>

<%= f.submit %>

<%end%>

<script>
    $("#question_tag_names").selectize({
        delimiter: ',',
        persist: false,
        labelField: "name",
        valueField: "name",
        searchField: "name",
        options: <%= Tag.select(:name).to_json(except: [:id]).html_safe %>,
        create(input) {
            return {
                name: input
            }
        }

    })
</script>